@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {

}


@keyframes slideIn {
  0% {
    transform: translateX(100%) translateY(-100%);
  }
  100% {
    transform: translateX(0) translateY(0)
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(100%) translateY(-100%);
  }
}

.animate-menu-open {
  animation: slideIn 0.5s ease forwards;
}

.animate-menu-close {
  animation: slideOut 0.5s ease forwards;
}

form {
  background-image: url(../public/images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.bg_boost {
  background-image: url(../public/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
